Source: malradar
Maintainer: Hekmon <edouardhur@gmail.com>
Build-Depends: debhelper (>= 9),

Package: malradar
Architecture: amd64
Pre-Depends: dpkg (>= 1.16.1)
Depends: adduser
Homepage: https://github.com/hekmon/malradar
Description: Detect new animes curated by the MyAnimeList community
